# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.pkl
!.gitignore

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
